* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
}

.nav-bar {
	display: flex;
}

.nav-bar:hover {
	cursor: pointer;
}

#new-todo {
	margin-right: 5px;
}

#new-project {
	margin-right: 5px;
}

#new-todo-container {
	display: grid;
}

.new-project-form {
	display: grid;
}

h3 {
	margin-top: 5px;
}

p {
	margin-top: 5px;
}

input {
	border: 1px solid black;
	margin-left: 5px;
}

ul {
	border: 1px solid black;
	margin-top: 5px;
}
